.navbar {
    background-color: rgb(142, 143, 142);
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
  }

.imagelist {
  justify-content: start;
  padding-left: 8px;
}

.imageItem {
  flex-direction: row;
  display: flex;
  align-items: center;
}
  
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    color:rgb(250, 250, 250);
  }
  
  .nav-menu {
    background-color: rgb(142, 143, 142);
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 500ms;
    z-index: 2;
    flex-direction: column;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0px 0px 0px 8px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #ffffff;
  }
  
  .nav-menu-items {
    width: 100%;
    flex-grow: 0;
  }
  
  .navbar-toggle {
    background-color: rgb(142, 143, 142);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  span {
    margin-left: 8px;
  }